<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fox Club</title>
</head>
<body>
<p>  <a href="localhost:8080">Information</a>  </p>
<p>  <a href="nutritionStore">Nutrition Store</a>  </p>
<p>  <a href="trickStore">Trick Center</a>  </p>
<p>  <a href="actionHistory">Action History</a>  </p>

<img src="/greenfox.png" alt="Fox" />
<p th:text="'This is ' + ${currentFox.getName()} + ' living on ' + ${currentFox.getFood()}
+ ' and ' + ${currentFox.getDrink()} "></p>
<h2>Known Tricks</h2>


<p> <a href="login"> Logout </a> </p>
</body>
</html>