<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <   <title>Chat</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Peer to Peer chat Program</h1>

<form id="" action="/" method="post">
    <div>
        <p> Update username:  <input type="text" name="name" th:field="*{user.name}"   />   </p>
        <button type="submit">Update</button>
    </div>
</form>

<ul th:each="message : ${messages}">
    <li  style="color : green; ">
         <p th:text="${message.user.getName()}" >   </p>
         <p th:text="${message.getText()}" >   </p>
    </li>
</ul>

<form id="" action="/" method="post">
    <div>
        <p> <input type="text" name="text"    />   </p>
        <button type="submit">Send</button>
    </div>
</form>


</body>
</html>