<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <   <title>Chat</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>
<h1>Peer to Peer chat Program</h1>

<form id="" action="/" method="post">
    <div>
        <p> Update username:  <input type="text" name="name" th:field="*{user.name}"   />   </p>
        <button type="submit">Update</button>
    </div>
</form>

<ul th:each="message : ${messages}">
    <li  style="color : green; ">
         <p th:if="${message.getUser()} == null" > App </p>
         <p th:unless="${message.getUser()} == null" th:text="${message.user.getName()}" >   </p>
    </li>
    <p th:text="${message.getText()}" >   </p>
</ul>

<form id="usrform" action="/" method="post" >
    <div>
        <textarea name="message" form="usrform" rows="4" cols="50"> Type your message here...</textarea>
        <button type="submit">Send</button>
    </div>
</form>
<a th:href="@{'/'}" th:text="refresh" > </a>

</body>
</html>