<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <   <title>Registration</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
</head>
<body>

<p th:text="${error}" style="color : red; ">   </p>

<h1>Make registration!</h1>
<p> Please add a username.</p>

<form id="" action="" method="post">
    <div>
        <p>Choose your username (your github repo name): <input type="text" name="username" ></p>
        <button type="submit">GO</button>
    </div>
</form>


</body>
</html>